.default {
  outline: 1px dashed #bbb;
  margin: 15px 10px;
  padding-left: 40px;
  padding-right: 40px;
  height: 150px;
  address {
    font-size: 12px;
    position: relative;
    top: 75px;
    transform: translateY(-50%);
  }
}

@media print {
  html, body {
    height: 99%;
  }
  .default {
    width: 30%;
    float: left;
    box-sizing: border-box;
    page-break-inside: avoid;
  }
}
