@import './variables';
$page-base-top: 0.58in;
$page-base-left: 0.27in;

@mixin position-items($height, $padding) {
  .logo {
    position: absolute;
    top: $padding;
    left: $padding;
    width: 125px;
  }
  .orientation {
    position: absolute;
    top: $padding;
    right: $padding;
    text-align: right;
  }
  .name {
    position: absolute;
    top: $height/2;
    width: 100%;
    text-align: center;
    transform: translateY(-45%);
    .first {
      font-size: 50px;
      font-weight: 500;
      &::after {
        content: '\A';
        white-space: pre;
      }
    }
    .last {
      position: relative;
      top: -10px;
      font-weight: 300;
      font-size: 30px;
    }
  }
  .group {
    position: absolute;
    bottom: $padding;
    left: $padding;
  }
  .room {
    position: absolute;
    bottom: $padding;
    right: $padding;
  }
}

@mixin printable(
    $class,
    $height,
    $width,
    $padding,
    $start-margin-top,
    $odd-margin-left,
    $tag-margin-bottom,
    $even-margin-left,
    $tags-per-page
) {
  .#{$class} {
    height: $height;
    width: $width;
    box-sizing: border-box;
    float: left;
    margin-right: 0;
    margin-bottom: $tag-margin-bottom;
    border: none;

    &:nth-child(#{$tags-per-page}n + 1),
    &:nth-child(#{$tags-per-page}n + 2) {
      margin-top: $start-margin-top;
    }
    &:nth-child(2n + 1) {
      margin-left: $odd-margin-left;
    }
    &:nth-child(2n) {
      margin-left: $even-margin-left;
    }
    &:nth-child(#{$tags-per-page}n) {
      page-break-inside: avoid;
      page-break-after: always;
    }
    &:last-child {
      page-break-after: avoid;
    }
  }
}


.default,
.a5163,
.a88395 {
  $height: 200px;
  $padding: 20px;
  height: $height;
  border: 3px solid #eee;
  background-color: white;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  @include position-items(200px, 20px);
}

@page {
  size: letter portrait;
  border: none;
  margin: 0in;
  padding: 0;
  outline: none;
}

@media print {
  body {
    width: 8.5in !important;
    margin: 0 !important;
  }
  .name-tags {
    width: 8.5in;
  }

  @include printable(
    'default',
    2.33in,
    45%,
    40px,
    0.58in,
    0.7in,
    0.19in,
    0.38in,
    10
  );
  @include printable(
    'a5163', // class
    1.8in,   // height
    3.8in,   // width
    10px,    // padding
    0.62in,  // page-margin-top
    0.27in,  // page-margin-left
    0.2in,   // tag-margin-bottom
    0.39in,  // tag-margin-left
    10       // tags-per-page
  );
  @include printable(
    'a88395', //class
    2.33in,   // height
    3.37in,   // width
    20px,     // padding
    0.58in,   // page-margin-top
    0.7in,    // page-margin-left
    0.19in,   // tag-margin-bottom
    0.38in,   // tag-margin-left
    8         // tags-per-page
  );
}
