.default {
    position: fixed;
    height: 50px;
    background-color: #333;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000000;

    .float-right {
        float: right;
    }

    .user-icon, .name, .log-out {
        position: inline-block;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        color: #eee;
        margin-right: 10px;
    }

    .user-icon {
    }
    .name {

    }
    .log-out {
    }
}
