.default {
    h2 span.info-icon {
        font-size: 14px;
        top: -8px;
        cursor: pointer;
        margin-left: 5px;
    }
    .mt-10 {
        margin-top: 10px;
    }
    .mr-5 {
        margin-right: 5px;
    }
}
